a {
  text-decoration: none;
  color: black;
}
h1 {
  text-align: center;
  border-bottom: 1px black solid;
  margin-bottom: 0px;
}
.sidebar {
  border-right: 1px black solid;
  width: 300px;
  display: inline-block;
  margin-top: 20px;

}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
ol {
  border-right: 1px solid gray;
  width: 100px;
  font-size: 20px;
  margin: 0px;
  padding: 20px;
}
#grid ol {
  padding-left: 30px;
}
#grid .content {
  border: 20px;
  padding-left: 20px;

}
@media (max-width: 800px) {
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }

}